body {
	font-family: sans-serif;
	background: url("../images/cores.png");
	background-size: 2000px;
	background-repeat: no-repeat;
	background-position: right;
}

.containerCabecalho {
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px ;
	box-shadow: 10px 10px 10px 10px black;
	display: flex;
	justify-content: space-around;
}

.containerCabecalho img {
	width: 20%;
}

.containerNav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.containerNav ul {
	display: flex;
	align-items: center;
}

.containerNav li {
	color: white;
	font-size: 22px;
	margin: 15px;
	text-transform: uppercase;
}

.containerNav a {
	box-sizing: border-box;
	border-radius: 15px;
	background: black;
	padding: 20px;
	color: white;
	text-decoration: none;
	border: 5px solid black;
}

.containerNav a:hover {
	background: darkorange;
	color: black;
	border: 5px solid black;
}

main {
	color: white;
	background: black;
	background-color: rgba(20,20,20,0.8);
	height: 535px;
}

main form {
	display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    padding: 40px 345px;
}

main form label, input, textarea,button {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}

.imagemPistola {
	position: absolute;
	margin: -47vh 0vw 0vh 71vw;
	width: 28%;
}

main button {
	height: 60px;
	border-radius: 15px;
	margin: 50px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	background: black;
	color: white;
	font-size: 20px;
	font-weight: 400;
}

main button:hover{
	background: darkorange;
	color: black;
	border: 5px solid black;
}

footer {
	text-align: center;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px -30px 10px -10px black;
}

footer img {
	margin-top: 110px;
	width: 5%;
}
