body {
	font-family: sans-serif;
	background: url("../images/cores.png");
	background-size: 2000px;
	background-repeat: no-repeat;
	background-position: right;
}

.containerCabecalho {
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px ;
	box-shadow: 10px 10px 10px 10px black;
	display: flex;
	justify-content: space-around;
}

.containerCabecalho img {
	width: 20%;
}

.containerNav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.containerNav ul {
	display: flex;
	align-items: center;
}

.containerNav li {
	color: white;
	font-size: 22px;
	margin: 15px;
	text-transform: uppercase;
}

.containerNav a {
	box-sizing: border-box;
	border-radius: 15px;
	background: black;
	padding: 20px;
	color: white;
	text-decoration: none;
	border: 5px solid black;
}

.containerNav a:hover {
	background: darkorange;
	color: black;
	border: 5px solid black;
}

main {
	color: white;
	background: black;
	background-color: rgba(20,20,20,0.8);
	height: 535px;
}

h2 {
	text-align: center;
	font-style: initial;
	font-size: 45px;
	font-weight: 900;
	padding: 50px 0px 20px 0px;
}

.containerSobre {
	margin-left: 150px;
	display: flex;
	font-size: 22px;
	line-height: 40px;
	font-style: italic;
}

.containerSobre span {
	color: gold;
	font-weight: 800;
}

h3 {
	font-weight: 900;
	font-size: 40px;
	margin: 30px 0px 10px 150px;
}

.imagemPistola {
	position: absolute;
	margin: -47vh 0vw 0vh 71vw;
	width: 28%;
}

.containerBeneficios li {
	margin-left: 150px;
	line-height: 2.0;
	font-size: 20px;
	font-style: italic;
}

.containerBeneficios li:before {
	content:"★";
	padding: 5px;
}

footer {
	text-align: center;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px -30px 10px -10px black;
}

footer img {
	margin-top: 110px;
	width: 5%;
}
