<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Cor Ideal | Home</title>
		<link rel="stylesheet" href="../assets/reset.css">
		<link rel="stylesheet" href="../assets/contato.css">
		<link rel="stylesheet" href="../assets/responsivoContato.css">
	</head>

	<body>
		<header>
			<div class="containerCabecalho">
				<h1><img src="../images/cor-ideal.png"></h1>
				<nav class="containerNav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="produtos.html">Produtos</a></li>
						<li><a href="contato.html">Contato</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<main>
			
			<form action="https://formsubmit.co/gabriel_figueredodasilva@hotmail.com" method="POST">
				<label>Nome</label>
			    <input type="text" name="name" required placeholder="digite seu nome">
			    <label>Email</label>
			    <input type="email" name="email" required placeholder="seuemail@dominío.com">


				<label for ="telefone">Telefone</label>
				<input type="tel" name="telefone" required placeholder="(xx)x.xxxx.xxxx">

				<label>Mensagem</label>
				<textarea type="mensagem" rowns="10" cols="10" required placeholder="Olá, gostaria de saber..."></textarea>

			    <button type="submit">Enviar</button>
			</form>

		</main>
		<img class="imagemPistola" src="../images/pistola.png">
		<footer>
			<img src="../images/cor-ideal.png">
			<p class="copyright">&copy; Copyright Cor Ideal 2021</p>
		</footer>
	</body>
</html>
